@font-face {
  font-family: "Trubec";
  src: url("/fonts/trubec.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TrubecItalic";
  src: url("/fonts/Trebuchet-MS-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  --ui-font: "Trubec", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

html, body {
  font-family: var(--ui-font);
}