@font-face {
  font-family: "Trubec";
  src: url("/fonts/trubec.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TrubecItalic";
  src: url("/fonts/Trebuchet-MS-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  --ui-font: "Trubec", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

html, body, #__next {
  height: 100%;
  background-color: #15141A;
}

body {
  background-color: #5a5a5a;   /* your choice */
  color: #fff;              /* optional: make text readable on black */
  font-family: var(--ui-font);
}

#container {
  width: 800px; /* adjust width to taste */
  margin: 20px auto; /* centers horizontally */
  background-color: black;
  border: 1px solid #1a74ff;
  border-radius: 7px;
  padding: 10px;
  font-family: "Trubec";
}

#tracks {
  text-align: center;
}

#container, #header, #footer {
  border: 1px solid #1a74ff;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #1a74ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 40px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}